{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Password Reset Complete</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="{% static 'login/vendor/bootstrap/css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'login/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'login/css/main.css' %}">
</head>
<body>
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100" style="padding:40px;">
				<span class="login100-form-title">Password Reset!</span>
				<p class="text-center" style="margin-top:20px;">
					Your password has been set. You can now log in with your new password.
				</p>
				<div class="container-login100-form-btn">
					<a href="{% url 'accounts:login' %}" class="login100-form-btn" style="display:flex; align-items:center; justify-content:center;">Log In</a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>