{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Check Your Email</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="{% static 'login/vendor/bootstrap/css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'login/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'login/css/main.css' %}">
</head>
<body>
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100" style="padding:40px;">
				<span class="login100-form-title">Check Your Email</span>
				<p class="text-center" style="margin-top:20px;">
					If an account exists with that email, we've sent instructions for resetting your password.
				</p>
				<div class="text-center p-t-12">
					<a class="txt2" href="{% url 'accounts:login' %}">Back to Login</a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>