{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% load blog_tags %}
{% block content %}

  <main class="main">

    <!-- Page Title -->
    <div class="page-title position-relative">
      <div class="breadcrumbs">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#"><i class="bi bi-house"></i> Home</a></li>
            <li class="breadcrumb-item"><a href="#">Category</a></li>
            <li class="breadcrumb-item active current">Category</li>
          </ol>
        </nav>
      </div>

      <div class="title-wrapper">
        <h1>Blog Category</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>
      </div>
    </div><!-- End Page Title -->

    <div class="container">
      <div class="row">

        <div class="col-lg-8">

          <!-- Category Postst Section -->
          <section id="category-postst" class="category-postst section">

            <div class="container" data-aos="fade-up" data-aos-delay="100">
              <div class="row gy-4">
                {% for post in posts %}

                <div class="col-lg-6">
                  <article>

                    <div class="post-img">
                      <img src="{{post.image_url}}" alt="" class="img-fluid">
                    </div>
                    {% for cat in post.category.all %}
                    <p class="post-category">{{cat.name}}</p>
                    {% if not forloop.last %},{% endif %} {% endfor %}
                    <h2 class="title">
                      <a href="{% url 'blog:postdetail' pk=post.id %}">{{post.title}}</a>
                    </h2>

                    <div class="d-flex align-items-center">
                      <img src="{% static 'assets/img/person/person-f-12.webp' %}" alt="" class="img-fluid post-author-img flex-shrink-0">
                      <div class="post-meta">
                        <p class="post-author">{{post.author.username}}</p>
                        <p class="post-date">
                          <time datetime="2022-01-01">{{post.published_date|naturaltime}}</time>
                        </p>
                      </div>
                    </div>

                  </article>
                </div><!-- End post list item -->
                {% endfor %}

              </div>
            </div>

          </section><!-- /Category Postst Section -->

          <!-- Pagination 2 Section -->
          <section id="pagination-2" class="pagination-2 section">
            <div class="container">
              <div class="d-flex justify-content-center">
                {% if page_obj.has_previous %}
                <ul>
                  <li><a href="?page={{ page_obj.previous_page_number }}"><i class="bi bi-chevron-left"></i></a></li>
                {% endif %}
                {% for i in page_obj.paginator.page_range %} 
                {% if  page_obj.number == i %}
                  <li><a href="?page={{i}}" class="active">{{i}}</a></li>
                  {% else %}
                  <li><a href="?page={{i}}" class="">{{i}}</a></li>
                {% endif %}
                {% endfor %} 

                {% if page_obj.has_next %}
                  <li><a href="?page={{ page_obj.next_page_number }}"><i class="bi bi-chevron-right"></i></a></li>
                {% endif %}
                </ul>
              </div>
            </div>

          </section><!-- /Pagination 2 Section -->

        </div>

        <div class="col-lg-4 sidebar">

          <div class="widgets-container" data-aos="fade-up" data-aos-delay="200">

           {% include "blog/blog_search.html" %}

            {% categories %}

           {% latestpost %}

            <!-- Tags Widget -->
            <div class="tags-widget widget-item">

              <h3 class="widget-title">Tags</h3>
              <ul>
                <li><a href="#">App</a></li>
                <li><a href="#">IT</a></li>
                <li><a href="#">Business</a></li>
                <li><a href="#">Mac</a></li>
                <li><a href="#">Design</a></li>
                <li><a href="#">Office</a></li>
                <li><a href="#">Creative</a></li>
                <li><a href="#">Studio</a></li>
                <li><a href="#">Smart</a></li>
                <li><a href="#">Tips</a></li>
                <li><a href="#">Marketing</a></li>
              </ul>

            </div><!--/Tags Widget -->

          </div>

        </div>

      </div>
    </div>

  </main>

{% endblock %}